.login-container {
    padding: 0;
    margin: 0.5em auto 0.5em auto;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.link {
    color: deepskyblue;
}

a ~ p {
    padding: 0.2em;
    margin: 0.2em;
}

.login-container > a{
    padding: 1em;

}

input[type=email], input[type=password]{
    padding: 1em;
    margin: 0.5em 0;
    border-radius: 0.4em;
    border-style: solid;
    border-color: #e0e0e0;

    box-sizing: border-box;
}
input:last-child{
    margin-top: 1em;
}

#login-container-header + p {
    margin-bottom: 0.35vw;
}

#login-container-header h1{
    justify-content: center;
    margin-top: 3em;
    margin-right: 8vw;
    font-size: 1.8em;
}

#login-container-header img{
    float: left;
    margin: 1vw;
    height: auto;
    width: 7vw;
}

#submit:hover {
    animation-name: about2click;
    animation-duration: 0.75s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    cursor: pointer;
}

@keyframes about2click{
    50% {
        background-color: #0a457c;
    }
    100% {
        background-color: #062b4d;
    }
}

@media screen and (max-width: 800px) {
    .login-container {
        width: 100%;
        transition-duration: 0.5s;
    }
}

@media screen and (max-width: 1102px) {

    #login-container-header img {
        display: none;
    }
    #login-container-header h1 {
        margin-right: 0;
    }
}